
.reveal{
   position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 2s ease-in;
}

.active.fade-left {
  animation: fade-left 2s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

.fade-in{
  animation: fade 3s ease-in;
}

@keyframes fade {
  0%{
    background-color: red;
  }
  100%{
    background-color: #262626;
  }
  
}

