.Eduaction-part {
  height: 100vh;
}

.heading {
  // animation: flipInX 1s 1.8s backwards;
  // animation-iteration-count: 2;
  background-color: white;
  color: #e1b7b7;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
}

.acedamicGrid {
  // animation: fadeIn 1s 1.8s backwards;
  align-items: center;
  border: 1px solid whitesmoke;
}

.acedamicGrid img {
  // display: block;
  height: 150px;
  margin: 2rem auto;
}

.collegeName {
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
}

.schoolGrid {

  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;

}
