.home-page {
  .sideHeading{

    .between-animation{
      animation: ab 3s repeat ease-out;
    }
  }

  .positionHeading{
    // top: 50%;
  }

 
  @keyframes ab {
    0%{
      color: #262626;
    }
    50%{
      color: aliceblue;
    }
    100%{
      color: #262626;
    }
    
  }
  .sideHeading {
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    // margin: 0;
    // font-size: 4rem;

    &::before {
      content: '<h1>';
      font-family: 'Poppins', sans-serif;
      font-weight: 200;
      color: coral;
      position: absolute;
      margin-top: -4rem;
    }

    &::after {
      content: "</h1>";
      // content: "\00a0</h1>";
      // white-space: pre;
      font-family: 'Poppins', sans-serif;
      color: coral;
      position: absolute;
      // font-size: 38px;
      font-weight: 200;
      // left: 530px;
      margin-top: 1.2rem;
    }
    
    img {
      width: 70px;
    }
  }

  h2 {
    color: blanchedalmond;
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'Quicksand', sans-serif;
    // font-size: 40px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-btn {
    // font-size: 1.1rem;
    letter-spacing: 3px;
    border: 1px solid white;
    // padding: 15px 20px;
    background-color: #262626;
    // margin-top: 2rem;
    cursor: pointer;
    animation: fadeIn 2s 3s backwards;
    white-space: nowrap;

    a:-webkit-any-link {
      color: coral;
      text-decoration: none;
    }
  }

  .flat-btn:hover {
    background-color: coral;
    opacity: 0.8;
    border: 1px solid black;
    color: black;
    
    a:-webkit-any-link {
      color: black;
      text-decoration: none;
    }
  }
}
