.home-page {
  @keyframes ab {
    0% {
      color: #262626;
    }
    50% {
      color: aliceblue;
    }
    100% {
      color: #262626;
    }
  }
  .sideHeading {
    color: white;
    font-family: "Raleway", sans-serif;
    animation: text-blur-out 2s cubic-bezier(0.215, 0.61, 0.355, 1) reverse
      both;

    @keyframes text-blur-out {
      0% {
        filter: blur(0.01);
      }
      100% {
        filter: blur(12px) opacity(0%);
      }
    }
    .between-animation {
      animation: ab 3s repeat ease-out;
    }

    &::before {
      content: "<h1>";
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      color: coral;
      position: absolute;
      margin-top: -4rem;
    }

    &::after {
      content: "</h1>";
      // content: "\00a0</h1>";
      // white-space: pre;
      font-family: "Poppins", sans-serif;
      color: coral;
      position: absolute;
      font-weight: 200;
      margin-top: 1.2rem;
    }

    img {
      width: 70px;
    }
  }

  h2 {
    color: blanchedalmond;
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: "Quicksand", sans-serif;
    animation: fadeIn 1s 1.8s backwards;
  }

  // .flat-btn {
  //   letter-spacing: 3px;
  //   border: 1px solid white;
  //   background-color: #262626;
  //   cursor: pointer;
  //   white-space: nowrap;
  //   color: coral;

  // }

  @media (max-width: 310px) {
    .contBtn {
      top: 13em;
    }
  }
  @media (max-width: 336px) {
    .contBtn {
      top: 17em;
    }
  }

  @media (max-width: 449px) {
    .sideHeading {
      &::before {
        margin-top: -2rem;
      }

      &::after {
        margin-top: 1rem;
      }
    }
  }

  @media (max-width: 640px) {
    .sideHeading {
      width: 100%;
      &::before {
        margin-top: -2rem;
      }

      &::after {
        margin-top: 1rem;
      }
    }
  }

  @media (max-width: 767px) {
    .sideHeading {
      width: 100%;
      &::before {
        content: "";
        margin-top: -2rem;
      }

      &::after {
        content: "";
        margin-top: 1rem;
      }
    }
  }

  @media (max-width: 858px) {
    .sideHeading {
      width: 100%;
      &::before {
        content: "";
        margin-top: -2rem;
      }

      &::after {
        content: "";
        margin-top: 1rem;
      }
    }
  }

  // @media (max-width: 308px) {
  //   .sideHeading::before {
  //     margin-top: -2rem;
  //   }
  //   .sideHeading {
  //     width: 80%;
  //     font-size: 0.8rem;
  //     img {
  //       width: 3rem;
  //     }
  //   }
  //   .positionHeadin {
  //     // margin-top: 4rem;
  //   }

  //   .contBtn {
  //     bottom: 15%;
  //   }
  //   .contBtn button {
  //     font-size: 0.7rem;
  //   }
  // }

  // @media (min-width: 309px) and (max-width: 320px) {
  //   .sideHeading::before {
  //     margin-top: -2rem;
  //   }
  //   .custom {
  //     font-size: 1rem;
  //     width: 80%;
  //   }

  //   .positionHeadin {
  //     // margin-top: 5rem;
  //   }

  //   .contBtn button {
  //     font-size: 0.7rem;
  //   }
  // }

  // @media (min-width: 320px) and (max-width: 376px) {
  //   .sideHeading {
  //     top: 35%;
  //     font-size: 1rem;
  //     width: 77%;
  //   }
  //   .sideHeading::before {
  //     margin-top: -2rem;
  //   }

  //   .positionHeadin{
  //     top: 50%;
  //   }
  // }

  // @media (min-width:376px) and (max-width:428px) {
  //  .sideHeading{
  //   width: 66%;
  //   top: 40%;
  //   font-size: 1.4rem;
  //  }
  //   .sideHeading::before{
  //     margin-top: -3rem;
  //   }

  //   .sideHeading::after {
  //     margin-top: 1rem;
  //   }

  //   .positionHeadin{
  //     width: 100%;
  //     margin-top: 10%;
  //     font-size: 1rem;
  //   }

  //   .contBtn{
  //     // top: 70
  //   }
  //   .contBtn button{
  //     margin-top: 4%;
  //     font-size: 1rem;
  //   }
  // }

  // @media (min-width:482px) and (max-width:639px) {
  //    .profilePic{
  //     top: 1%;
  //     width: 14em;
  //   }

  // }
}
